
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <label for="fname">@ViewBag.User.FirstName:</label>
    <br>
    <input type="text" id="FirstName" name="FirstName">
    <br>
    <label for="lname">@ViewBag.User.LastName:</label>
    <br>
    <input type="text" id="LastName" name="LastName">
    <br>
    <label for="Email">@ViewBag.User.Email:</label>
    <br>
    <input type="text" id="Email" name="Email">
    <br>
    <label for="Email">Phone:</label>
    <br>
    <input type="number" id="Phone" name="Phone">
    <br>
    <br>
    <label for="lname">Title:</label>
    @Html.DropDownList("Title",
    EnumHelper.GetSelectList
    (typeof(ItAcademy.HomeWorkNumThree.Models.Title)),
    "Title:",
    new { @class = "form-control" })
    <br>
    <label for="fname">@ViewBag.User.County:</label>
    <br>
    <select id="Country" name="Country">
        <option value="">Country</option>
        <option>Belarus</option>
        <option>USA</option>
        <option>Canada</option>
        <option>France</option>
    </select>
    <br>
    <label for="fname">@ViewBag.User.Sity:</label>
    <br>
    <select id="Sity" name="Sity">
        <option value="">Sity</option>
        <option>Minsk</option>
        <option>Pasadena</option>
        <option>Ottava</option>
        <option>Paris</option>
    </select>
    <br>
    <p><input type="submit" value="Send" /></p>
}