@using HW3.Client.Models
@using NonFactors.Mvc.Grid;
@model IEnumerable<AllUsersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                &emsp; Action &emsp;
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@

@(Html.Grid(Model).
            Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Name");
                columns.Add(model => model.Title).Titled("Title");
                columns.Add(model => model.Country.Name).Titled("Country");
                columns.Add(model => model.City.Name).Titled("City");
                columns.Add(model => model.Phone).Titled("Phone");
                columns.Add(model => model.Email).Titled("Email");
                columns.Add(model => Html.ActionLink("Edit", "Edit", new { id = model.Id }) + " | " + Html.ActionLink("Delete", "Delete", new { id = model.Id })).Titled("Actions").Encoded(false); ;

            }).Empty("No data found")
            .Filterable()
            .Sortable()
            .Pageable()
)
